.cartitems {
    margin: 100px 100px;
}

.cards-lists {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: none;
    width: 100%;
}

.cartitems-formate-main,
.cartitems-formate {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-formate-main p:nth-child(2) {
    width: 150px;
}

.cartitems-formate p:nth-child(2) {
    width: 180px;
    text-align: start;
}


.cartitems-formate {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.cartitems-product-item {
    height: 60px;
}

.cartitems-quantity {
    padding: 10px;
    height: 50px;
    width: 62px;
    background: #fff;
    border: 1px solid gray;
}

.cartitems-remove-icon {
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}

.cartitems-down {
    display: flex;
    margin: 100px 0;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-totl-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.cartitems-total button {
    width: 262px;
    height: 58px;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
}

.cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
    display: flex;
}

.cartitems-promobox input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.cartitems-promobox button {
    font-size: 16px;
    width: 170px;
    height: 58px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .cartitems {
        margin: 80px;
    }

    .cartitems-total {
        margin-right: 150px;
        gap: 40px;
    }
}

@media (max-width: 1020px) {

    .cartitems-formate-main,
    .cartitems-formate {
        width: 100%;
    }
    .cartitems-formate-main hr {
        width: 100%;
    }

    .cartitems {
        margin: 80px 60px;
    }

    .cartitems-total {
        margin-right: 50px;
        gap: 40px;
    }

    .cartitems-promobox {
        width: 400px;
        height: 50px;
    }

    .cartitems-promobox button {
        width: 150px;
        height: 50px;
    }
}

@media (max-width: 800px) {
    .cartitems {
        margin: 60px 40px;
    }

    .cartitems-total {
        margin-right: 50px;
        gap: 40px;
    }
    

    .cartitems-promobox {
        width: 400px;
        height: 50px;
    }

    .cartitems-promobox button {
        width: 150px;
        height: 50px;
    }
    .cartitems-down {
        flex-direction: column;
    }
    .cartitems-promobox button {
        width: 150px;
        height: 50px;
    }
}

@media (max-width: 500px) {
    .cartitems {
        margin: 60px 20px;
        /* background-color: red; */
    }

    .cartitems-formate-main p:nth-child(2) {
        width: 150px;
    }

    .cartitems-formate-main hr {
        width: 100%;
    }

    .cartitems-formate p:nth-child(2) {
        width: 180px;
    }

    .cartitems-total {
        margin-right: 50px;
        gap: 40px;
    }
    .cartitems-total button {
        margin-bottom: 20px;
    }

    .cartitems-promobox {
        width: 220px;
        height: 50px;
    }

    .cartitems-promobox button {
        padding: 0px 10px;
        height: 50px;
    }
  
}